body {
    margin: 0px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)), url("https://images.pexels.com/photos/4691601/pexels-photo-4691601.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
}
#main_title {
    text-align: center;
    margin: 30px 20px 20px 20px;
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-shadow: 5px 5px 5px black;
}
.title {
    font-size: 25px;
    font-weight: bold;
    margin: 12px 12px 5px 12px;
    border-bottom: 2px solid black;
    display: inline-block;
    padding: 0, 10px, 5px, 10px;
}
.parag {
    width: 350px;
    height: 350px;
    text-align: center;
    margin: 20px auto 20px auto;
    border: 1px solid black;
    background-image: url("https://media.istockphoto.com/id/617742228/photo/old-dirty-and-grunge-paper-texture.jpg?s=612x612&w=0&k=20&c=z1SEoVWBhV3TS2_ul5gahs4_Oeg3gWhqkZ3eSjHJ6Rc=");
    box-shadow: 5px 5px 5px black;
    font-family: 'Hahmlet', serif;
}
.parag ol {
    margin-left: auto;
    margin-right: auto;
    display: table;
    padding: 0px;
}
.parag ul {
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    display: table;
    padding: 0px;
}
.parag div {
    margin: 5px 10px 5px 10px;
    display: inline-block;
}
header {
    padding: 40px 0px 10px 0px;
    text-align: center;
    color:white;
    text-shadow: 5px 5px 5px black;
}
.date {
    margin: 3px 5px 5px 5px;
    font-size: 13px;
}
#logo {
    margin:5px auto 5px auto;
    display:block;
    filter: drop-shadow(0 0 5px white);
}
#logo:hover {
    filter: drop-shadow(0 0 3px white);
}

footer {
    text-align: center;
    color:white;
    margin: 20px;
}